:root {
  /* --primary-color: #ff4500 */
  --primary-color: #cc5500;
  --gray: #313639;
}

.div_container {
  width: 85%;
  margin: auto;
  /* border: red solid; */
}

.div_divider {
  border-top: solid var(--black) 2px; 
}

/* ----------------------------------------------- */


/* Navigation */

.section_nav {
  background: none;
  height: 2rem;
  padding-top: .5rem;
  color: var(--primary-color);
}

.section_nav ul {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 4fr 0fr .3fr;
  /* justify-items: space-between; */
  /* align-items: end; */
  /* border: solid 2px; */
  /* justify-content: end; */
}

.section_nav ul li {
  /* border: green solid 2px; */
  text-decoration: none;
  list-style: none;
  padding-top: 2rem;
  /* border: green solid 2px; */
  text-align: end;
}

.section_nav ul li:first-child {
  padding-top: 1rem;
  text-align: start;
}

.img_logo {
  width: 6.5rem;
  height: 2.5rem;
}

.section_nav ul li a {
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}

.section_nav ul li a:hover {
  cursor: pointer;
  color: #F5F5F5;
}


/* Showcase */

.section_showcase {
  height: 85vh;
  transition: background-image 0.9s ease-in-out;
  /* border: red solid 2px; */
}

.div_overlay {
  background-color: rgb(0, 0, 0, .8);
  height: 100%;
  /* border: pink solid 3px; */
}

/* Specials and Pizza Cards*/

.section_specials {
  margin: 2rem 0 6rem 0;
  text-align: center;
}

.div_pizzaCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.div_pizzaCard {
  /* background:rgb(0, 0, 0, .8); */
  /* background: #100D0B; */
  background:var(--gray);
  border: solid #000 2px;
  border-radius: 25px;
  /* color: var(--primary-color); */
  color: #F5F5F5;
  height: 22rem;
  width: 30rem;
  overflow: hidden;
}

/* .div_pizzaCard:hover {
  height: 15.5rem;
  width: 25.5rem;
} */

.cardContent {
  margin-top: 1rem;
}

.div_pizzaCard h1 {
  font-weight: 1;
}

.div_pizzaCard img {
  width: 100%;
  height: 50%;
}

.button_order {
  /* background: #2f4f4f; */
  /* background: #697967; */
  background: var(--primary-color);
  width: 10rem;
  height: 1.5rem;
}

.button_order:hover {
  cursor: pointer;
}

/* Sides */

.side {
  margin: 4rem 0; 
  text-align: center;
}

.side h1 {
  text-align: center;
}

.side span {
  color: var(--primary-color);
  font-size: 2em;
  font-weight: bold;
}

.side span:hover {
  cursor: pointer;
}

.ul_sides {
  /* border: red solid 2px; */
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
}

.ul_sides li {
  /* border: solid 2px #000; */
  border-bottom: solid var(--primary-color) 2px;
  padding-bottom: 2rem;
  margin: 1rem 0;
  list-style: none;
  font-size: 1.5em;
}

.ul_sides li:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.img_wings {
  width: 3rem;
  height: 3rem;
}

/* Footer */

footer {
  background: var(--gray);
  color: var(--primary-color);
  text-align: center;
  /* height: 2rem; */
  padding: 1rem;
}
